@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
/* navbar style start */
.header{
    background-color: rgb(213, 180, 245);
}
.header-section {
    max-width: 1250px;
    margin: auto;
    display: flex;
}
.nav-container {
    min-height: 30px;
    display: flex;
    align-items: center;
    width: 50%;
   
}
.nav-container img {
    width: 98px;
    object-fit: cover;
}
.nav-container p {
    font-size: 25px;
}
.special {
    color: pink;
    font-weight: 900;
}
.nav-item {
    
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

}
.nav-item a {
    text-decoration: none;
    color: white;
}
.nav-item .login a{
    padding: 10px 20px;
    background-color: pink;
    border-radius: 5px;
    color: black;
}
/* navbar style end */